body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:546px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:546px;
  word-wrap:break-word;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:570px;
  height:776px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:31px;
  width:550px;
  height:756px;
}
#u1493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:20px;
  height:20px;
}
#u1494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 0, 0.0666666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:549px;
  height:145px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:41px;
  width:62px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u1497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:44px;
  width:37px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:75px;
  width:69px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:104px;
  width:55px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:108px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:100px;
  width:55px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u1502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:104px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:75px;
  width:35px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u1504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:75px;
  width:120px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u1505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:77px;
  width:31px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:76px;
  width:120px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u1507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:108px;
  width:15px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  white-space:nowrap;
}
#u1508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:44px;
  width:22px;
  height:22px;
}
#u1508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 0, 0.0666666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:549px;
  height:134px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:339px;
  width:549px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:223px;
  width:514px;
  height:1px;
}
#u1511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:196px;
  width:67px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  white-space:nowrap;
}
#u1513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:339px;
  width:63px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  white-space:nowrap;
}
#u1514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:198px;
  width:37px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:229px;
  width:69px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:256px;
  width:55px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u1517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:260px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:252px;
  width:55px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u1519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:256px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:229px;
  width:35px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u1521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:229px;
  width:120px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u1522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:231px;
  width:31px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:230px;
  width:120px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u1524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:199px;
  width:22px;
  height:22px;
}
#u1524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:343px;
  width:22px;
  height:22px;
}
#u1525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:260px;
  width:15px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1526_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  white-space:nowrap;
}
#u1527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:343px;
  width:37px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1527_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:374px;
  width:69px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:403px;
  width:55px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1529_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u1530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:407px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:399px;
  width:55px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u1532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:403px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1532_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:374px;
  width:35px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1533_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u1534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:374px;
  width:120px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1534_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u1535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:376px;
  width:31px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1535_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:375px;
  width:120px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1536_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u1537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:407px;
  width:79px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1537_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u1538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:199px;
  width:18px;
  height:18px;
}
#u1538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:341px;
  width:20px;
  height:20px;
}
#u1539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:48px;
  width:26px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u1540_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  white-space:nowrap;
}
#u1541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:200px;
  width:26px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u1541_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  white-space:nowrap;
}
#u1542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:342px;
  width:26px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u1542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  white-space:nowrap;
}
#u1543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:42px;
  width:25px;
  height:25px;
}
#u1543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:499px;
  width:549px;
  height:151px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:499px;
  width:62px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u1546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:504px;
  width:37px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1546_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:533px;
  width:69px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:562px;
  width:55px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u1549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:566px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:558px;
  width:55px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1550_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u1551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:562px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:533px;
  width:35px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1552_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u1553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:533px;
  width:120px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u1554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:535px;
  width:31px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1554_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:534px;
  width:120px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1555_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u1556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:566px;
  width:79px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1556_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:502px;
  width:22px;
  height:22px;
}
#u1557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:506px;
  width:26px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u1558_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  white-space:nowrap;
}
#u1559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:500px;
  width:25px;
  height:25px;
}
#u1559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:68px;
  width:514px;
  height:1px;
}
#u1560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:366px;
  width:514px;
  height:1px;
}
#u1561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:222px;
  width:514px;
  height:1px;
}
#u1562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:529px;
  width:514px;
  height:1px;
}
#u1563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:138px;
  width:514px;
  height:1px;
}
#u1564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.47843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:145px;
  width:79px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u1566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.47843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:145px;
  width:72px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u1567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:754px;
  width:185px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1567_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1567.mouseOver {
}
#u1567_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1567.mouseDown {
}
#u1567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:181px;
  word-wrap:break-word;
}
#u1568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:754px;
  width:185px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:181px;
  word-wrap:break-word;
}
#u1569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.47843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:294px;
  width:79px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u1570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.47843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:294px;
  width:72px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u1571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.47843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:445px;
  width:79px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u1572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.47843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:445px;
  width:72px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u1573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.47843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:608px;
  width:79px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.47843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:608px;
  width:72px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u1575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:754px;
  width:185px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:181px;
  word-wrap:break-word;
}
#u1576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:596px;
  width:514px;
  height:1px;
}
#u1576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:287px;
  width:514px;
  height:1px;
}
#u1577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:435px;
  width:514px;
  height:1px;
}
#u1578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:48px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u1580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:199px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u1581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:347px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u1582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(26, 171, 168, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:506px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
